In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
ls

EDA.ipynb            fake_ger_news_2.csv  real_ger_news_1.csv
english_data.csv     politifact_fake.txt  real_ger_news_2.csv
fake_ger_news_1.csv  politifact_real.txt  real_ger_news_3.csv

### Clean the english news data set

In [112]:
df = pd.read_csv("english_data.csv")

In [113]:
df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [114]:
df = df.rename(str.lower, axis='columns')

In [115]:
df = df.rename({'headline':'title','body':'content'}, axis='columns')

In [116]:
label_translation = {1 : 'True', 0:'False'}

In [117]:
df = df.replace({"Label": label_translation})

In [120]:
df = df.drop(columns = ['urls'])

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    4009 non-null   object
 1   content  3988 non-null   object
 2   label    4009 non-null   int64
dtypes: int64(1), object(2)
memory usage: 94.1+ KB

In [122]:
df = df.dropna()

In [124]:
df['label'].value_counts()

0    2120
1    1868
Name: label, dtype: int64

In [125]:
eng_news_complete = df

### Concat, check, and apply final cleaning steps on the true german news

In [27]:
gerreal1 = pd.read_csv("real_ger_news_1.csv")
gerreal2 = pd.read_csv("real_ger_news_2.csv")
gerreal3 = pd.read_csv("real_ger_news_3.csv")

In [33]:
gerreal1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   469 non-null    object
 1   content  469 non-null    object
 2   subject  469 non-null    object
 3   label    469 non-null    bool
dtypes: bool(1), object(3)
memory usage: 11.6+ KB

In [41]:
ger_real_news_complete = pd.concat([gerreal1, gerreal2, gerreal3], join ='inner')

In [42]:
ger_real_news_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421 entries, 0 to 475
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   1421 non-null   object
 1   content  1421 non-null   object
 2   subject  1421 non-null   object
 3   label    1421 non-null   bool
dtypes: bool(1), object(3)
memory usage: 45.8+ KB

In [46]:
ger_real_news_complete = ger_real_news_complete.drop_duplicates()

In [47]:
ger_real_news_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 876 entries, 0 to 475
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   876 non-null    object
 1   content  876 non-null    object
 2   subject  876 non-null    object
 3   label    876 non-null    bool
dtypes: bool(1), object(3)
memory usage: 28.2+ KB

### Concat, check, and apply final cleaning steps on fake German news

In [49]:
ls

EDA.ipynb            fake_ger_news_2.csv  real_ger_news_1.csv
english_data.csv     politifact_fake.txt  real_ger_news_2.csv
fake_ger_news_1.csv  politifact_real.txt  real_ger_news_3.csv

In [50]:
gerfake1 = pd.read_csv("fake_ger_news_1.csv")
gerfake2 = pd.read_csv("fake_ger_news_2.csv")

In [51]:
gerfake1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   220 non-null    object
 1   content  220 non-null    object
 2   label    220 non-null    bool
dtypes: bool(1), object(2)
memory usage: 3.8+ KB

In [52]:
gerfake2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   1128 non-null   object
 1   content  1128 non-null   object
 2   label    1128 non-null   bool
dtypes: bool(1), object(2)
memory usage: 18.9+ KB

In [54]:
ger_fake_news_complete = pd.concat([gerfake1, gerfake2], join ='inner')

In [57]:
ger_fake_news_complete = ger_fake_news_complete.drop_duplicates()

In [59]:
ger_fake_news_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168 entries, 0 to 1127
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   1168 non-null   object
 1   content  1168 non-null   object
 2   label    1168 non-null   bool
dtypes: bool(1), object(2)
memory usage: 28.5+ KB

In [60]:
ger_news_complete = pd.concat([ger_real_news_complete, ger_fake_news_complete], join ='inner')

In [62]:
ger_news_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2044 entries, 0 to 1127
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   titles   2044 non-null   object
 1   content  2044 non-null   object
 2   label    2044 non-null   bool
dtypes: bool(1), object(2)
memory usage: 49.9+ KB

In [63]:
ger_news_complete['label'].value_counts()

False    1168
True      876
Name: label, dtype: int64

### Remove stop words from both data sets

In [69]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [72]:
german_stop_words = stopwords.words('german')

In [73]:
english_stop_words = stopwords.words('english')

In [104]:
ger_news_complete['content'] = ger_news_complete['content'].str.split(' ').apply(lambda x: ' '.join(
    [word for word in x if word.lower() not in german_stop_words]))

In [134]:
ger_news_complete['titles'] = ger_news_complete['titles'].str.split(' ').apply(lambda x: ' '.join(
    [word for word in x if word.lower() not in german_stop_words]))

In [135]:
ger_news_complete.head()

,titles,content,label
0,Corona-Pandemie: Christine Lambrecht (SPD) spr...,"Bundesinnenminister Horst Seehofer (CSU), Bund...",True
1,"Unwetter Sachsen, Bayern Berlin: 67-Jähriger s...",Überflutete Straße bayerischen Penzberg Starkr...,True
2,Olympia 2021: Triathlon Männer beginnt kuriose...,Panne Olympia: Teil Triathleten wurde Boot bei...,True
3,Galeria Karstadt Kaufhof kündigt Neustart einh...,Filiale Galeria Kaufhof Köln Reihenweise Filia...,True
4,Olympia heute – Tag drei: Nacht geschah Tag br...,Sideris Tasiadis peilt Medaille Fehlstart beim...,True

In [128]:
eng_news_complete['content'] = eng_news_complete['content'].str.split(' ').apply(lambda content:
    ' '.join([word for word in content if word not in english_stop_words]))

In [136]:
eng_news_complete['title'] = eng_news_complete['title'].str.split(' ').apply(lambda content:
    ' '.join([word for word in content if word not in english_stop_words]))

In [137]:
eng_news_complete.head()

,title,content,label
0,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images On Sunday morning...,1
1,Linklater's war veteran comedy speaks modern A...,"LONDON (Reuters) - “Last Flag Flying”, comedy-...",1
2,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke public view last week Mr. Corke...,1
3,Egypt's Cheiron wins tie-up Pemex Mexican onsh...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,Jason Aldean opens 'SNL' Vegas tribute,"Country singer Jason Aldean, performing Las Ve...",1

In [130]:
eng_news_complete['content'] = eng_news_complete['content'].replace(r'\n',' ', regex=True)

In [131]:
eng_news_complete['title'] = eng_news_complete['title'].replace(r'\n',' ', regex=True)

In [138]:
eng_news_complete.head()

,title,content,label
0,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images On Sunday morning...,1
1,Linklater's war veteran comedy speaks modern A...,"LONDON (Reuters) - “Last Flag Flying”, comedy-...",1
2,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke public view last week Mr. Corke...,1
3,Egypt's Cheiron wins tie-up Pemex Mexican onsh...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,Jason Aldean opens 'SNL' Vegas tribute,"Country singer Jason Aldean, performing Las Ve...",1

In [139]:
complete_news_clean = pd.concat([eng_news_complete, ger_news_complete], join ='inner')

In [142]:
eng_news_complete.to_csv('eng_news_clean.csv', index = False)
ger_news_complete.to_csv('ger_news_clean.csv', index = False)
complete_news_clean.to_csv('complete_news_clean.csv', index = False)

In [143]:
ls

Basic EDA & stop word cleaning.ipynb  ger_news_clean.csv
complete_news_clean.csv               politifact_fake.txt
eng_news_clean.csv                    politifact_real.txt
english_data.csv                      real_ger_news_1.csv
fake_ger_news_1.csv                   real_ger_news_2.csv
fake_ger_news_2.csv                   real_ger_news_3.csv